
.banner_wrap img {
    width: 100%;
    height: 2.8rem;
}
.server_explain_wrap{
    background-color: #fff;
    margin-top: 5px;
}
.server_explain{
    width: 100%;
    height: 49px;
    line-height: 49px;
}
.server_price_wrap{
    width: 100%;
    height:49px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.server_time_wrap{
    width: 100%;
    height:49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.server_flow_wrap{
    background-color: #fff;
    margin-top: 10px;
}
.server_flow_title{
    width: 100%;
    height: 42px;
    line-height: 42px;
}
.server_flow_content{
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.server_flow{
    width: 100%;
    height: 50px;
    display: flex;
}
.server_flow_step{
    width: 24px;
    height: 24px;
    background-color: #cfdbe8;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #fff;
}
.server_flow_num{
    width: 1.15rem;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.server_flow_text{
    margin-top: 10px;
}
.horizontal{
    width: 0.5rem;
    height: 1px;
    background-color: #cfdbe8;
    margin-top: 10px;
}
.server_brief_wrap{
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    padding-bottom: 10px;
}
.server_brief_title{
    width: 100%;
    height: 42px;
    line-height: 42px;
}
.server_brief_tab_content{
    padding-bottom: 5px;
}
.server_brief_tab_nav{
    width: 100%;
    height: 30px;
    display: flex;
    border: 1px solid #afb8c2;
    border-radius: 5px;
    margin-bottom: 15px;
}
.server_tab_header{
    width: 33.3333%;
    text-align: center;
    line-height: 28px;
}
.server_border{
    border-right: 1px solid #afb8c2;
}
.server_brief_tab_header_active{
    background-color: #afb8c2;
    color: #fff;
}
.server_brief_time{
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    line-height: 20px;
}
.server_tab_content_wrap{
    border-left: 1px solid #e7eef7;
}
.server_tab{
    position: relative;
    padding-top: 10px;
}
.pink_radius{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fdafa7;
    position: absolute;
    left: -5px;
    top: 17px;
}
.server_safeguard_wrap{
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
}
.server_safeguard{
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 81px;
    display: flex;
    border-top: 1px solid #d9d9d9
}
.server_safeguard_img_wrap{
    width: 20%;
    height: 100%;
}
.server_safeguard_img_wrap img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.server_safeguard_text{
    width: 80%;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

