.article_detailed_content{
    background-color: #fff;
    padding-top: 10px;
}
.recommend_nav_menu{
    width: 100%;
    height: 45px;
}
.article_title{
    height: 37px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.recommend_nav_menu_title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 45px;
}
.yuesao_recommend_wrap{
    margin: 15px 0;
}
.yuesao_list_wrap{
    width: 100%;
    height: 147px;
    overflow-x: auto;
    padding-left: 15px;
    box-sizing: border-box;
}
.yuesao_list{
    height: 144px;
    display: inline-flex;
}
.list{
    width: 120px;
    height: 100%;
    background-color: #fff;
    margin-right: 10px;
    display: flex;
}
.yuesao_img{
    width: 78px;
    height: 78px;
    border-radius: 50%;
}
.yuesao_userinfo{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yusao_name{
    margin: 5px 0;
}

.article_list_wrap{
    background-color: #fff;
    margin-top: 15px;
}
.article_list_content{
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5
}
.article_img_wrap{
    width: 33.3333%;
}
.article_message_wrap{
    width: 66.6666%;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article_img_wrap img{
    width: 100%;
    height: 100%;
}
.article_content{
    display: flex;
    height: 1.72rem;
}
.article_message_read{
    display: flex;
    justify-content: space-between;
}
.article_detailed{
    padding: 15px;
    box-sizing: border-box;
}
.article_detailed_title{
    line-height: 0.5rem;
}
.article_detailed_time{
    line-height: 0.5rem;
}
.article-content-detail p{
    font-size: 14px;
    color: #1a1a1a;
}
.ratio-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.article-content-detail img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.article-more-btn{
    width: 110px;
    text-align: center;
    font-size: 14px;
    color: #afb8c2;
    border: 1px solid #afb8c2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 18px 5px 0;
    margin: 10px auto 0;
    position: relative;
}
.article-more-btn span{
    position: absolute;
    right: 13px;
    top: 7px;
}
#my-player {
    width: 100%;
    margin-bottom: 10px;
}
.video-js {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}